<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="fragments/template.html">
<head>
<title>Collection Manager</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="row-fluid">
			<div class="span2">
				Sidebar
				<p>sidebar content</p>
			</div>
			<div class="span10">

				<h1>Collection Manager</h1>
				Manage your collection


				<p>The time on the server is ${serverTime}.</p>

				<h2>Testing Connection</h2>

				<p><th th:text="${test}" /></p>

				<h2>Testing Settings</h2>

				<p><th th:text="${settings}" /></p>

				<h2>Testing API</h2>

				<p><th th:text="${testapi}" /></p>
				
				<a th:href="@{/testAPIJSP}">Test JSP views</a>

			</div>
		</div>
	</section>
</body>
</html>
