<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="fragments/template.html" th:with="view='home'">
<head>
<title>Collection Manager</title>
</head>
<body>
	<section layout:fragment="content">

		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit">
			<h1>Collection Manager</h1>
			<p>Manage and discover your missing albums from your favourite
				artists...</p>
			<p>
				<a class="btn btn-primary btn-large" th:href="@{/about}">Learn more &raquo;</a>
			</p>
		</div>

		<!-- Example row of columns -->
		<div class="row">
			<div class="span4">
				<h2>API Testing</h2>
				<p>Let's do some testing on the musicbrainz api</p>
				<p>
					<a class="btn" th:href="@{/testAPI}">Test API &raquo;</a>
				</p>
			</div>
			<div class="span4">
				<h2>Temp</h2>
				<p>Nothing happens here for now</p>
				<p>
					<a class="btn" href="#">--- &raquo;</a>
				</p>
			</div>
			<div class="span4">
				<h2>Default template</h2>
				<p>View the default template</p>
				<p>
					<a class="btn" th:href="@{/defaultTemplate}">View default
						template &raquo;</a>
				</p>
			</div>
		</div>
	</section>
</body>
</html>
