

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body { padding-top: 60px; }
@media screen and (max-width: 979px) {
    body { padding-top: 0px; }
}



navbar [class^="icon-"]{
  margin-top:2px !important;
}

@media ( max-width : 979px) {
	
	.navbar .nav-collapse .dropdown .nav-header {
		color: #ededed;
	}
	
	.navbar .string {
		color: #ffffff
	}
}


