<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="admin/fragments/template.html"
	th:with="view='adminUsers'">
<head>
<title>Collection Manager Admin Home Page</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="row-fluid">
			<div class="span9">
				<!-- block -->
				<div class="block">
					<div class="navbar navbar-inner block-header">
						<div class="muted pull-left">Users</div>
						<div class="pull-right">
							<span th:text="${users.size()}" class="badge badge-info">1,234</span>

						</div>
					</div>
					<div class="block-content collapse in">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Username</th>
									<th>Email</th>
									<th>Roles</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user :${users}">
									<td th:text="${user.id}">id</td>
									<td th:text="${user.username}">username</td>
									<td th:text="${user.email}">email</td>
									<td><span th:each="role: ${user.roleList}">
									<span th:text="${role.getName()}">1</span></span> 
									</td>
									<td>
										<form th:action="@{/user/delete/} + ${user.id}" method="post">
											<input type="submit" class="btn btn-danger btn-mini"
												value="Delete" />
										</form>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				<!-- /block -->
			</div>
		</div>
	</section>
</body>
</html>